@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 100%;
    font-family: 'Poppins', sans-serif;   
}


               /*BARRA DE NAVEGAÇÃO*/
header {
    display: flex;
    background: #161616;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-menu {
    display: flex;
    gap: 47px;
}

.cabecalho-menu a:hover {
    color: #5BD3B7;
}

.cabecalho-menu-item {
    text-decoration: none;
    color: white;
    font-weight: 300;
} 


h1 {
    color: white;
    font-size: 24px;
    font-weight: 5px;
    padding: 8px;
}


#title span {
    font-size: 10px;
    display: block;
    color: #5BD3B7;
    position: relative;
    top: -8px;
}


                   /*CONTEUDO 1*/
.conteudo1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to right, #0C0C0C, 70%, #1D3A35, #1E3B36);
    height: 250px;
}

#parte1 {
    margin-left: 20px;
}

#parte1 h2 {
    width: 390px; 
    margin-left: 28px;
    color: white;
}


#parte1 p {
    width: 300px; 
    margin-left: 28px;
}

#parte1 span {
    color: #5BD3B7;
}


hr {
    width: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 28px;
}


#parte1 p {
    color: white;
} 

.imagem-principal {
    width: 200px;
    filter: brightness(75%);
}


                     /*CONTEUDO 2*/
.conteudo2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #000;
    color: white; 
}

.parte2 {
    margin-top: 40px;
    margin-left: 45px;
    height: 100px;
    width: 210px;
}

.parte2 p {
    display: inline-block;
    margin-bottom: 13px;
    padding-left: 5px;
    margin-left: 20px;
    border-left: 1px solid #5BD3B7;   
}

.parte2 h2 {
    color: #5BD3B7;
    margin-bottom: 10px;
}

.Windows {
    font-size: 10pt;
    padding: 2px;
}

.caixas {
    display: flex;
    width: 400px;
    margin-top: 40px;
    height: 250px;
    flex-wrap: wrap;   
    text-align: center;
}

.caixas-texto {
    font-size: 13px;
    text-align: center;
}


.caixa-vantagens1, .caixa-vantagens2 {
    width: 150px;
    height: 100px;   
    margin-left: 20px;
    border-radius: 8px;

}

.icon {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    position: relative;
    top: 5px;
}

.caixa-vantagens1  {
    display: inline-block;
    background: #68838b3a;
    padding: 5px;
}

.caixa-vantagens2  {
    display: inline-block;
    background-image: linear-gradient(#010101, #122926);
    padding: 5px;
}


                      /*Instalações*/
#parte-instalacoes {
    display: flex;
    height: 1100px;
    background: #000; 
     
}

.instalacoes-conteudo {
    background: #68838b3a;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 800px;
}

.instalacoes-conteudo p {
    color: white;
}

.instalacoes-conteudo h2 {
    width: 600px;
    font-size: 20px;
    font-weight: 30;
    color: #5BD3B7;
    margin-bottom: 20px;
}

.instalacoes {
    margin: auto;
}

                    /*Manutenções*/
.manutencao-geral h2, .limpeza h2  {
    color: #5BD3B7;
    margin-top: 7px;
    font-size: 20px;
    font-weight: 30;

}

.manutencao-geral p, .limpeza p {
    color: white;
    width: 700px;
}

.manutencao-geral {
    background: #68838b3a;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 800px;
}


.limpeza {
    background: #68838b3a;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    width: 800px;
}

                   /*RESPONSIVO*/


@media all and (max-width: 450px) {

     /*Cabeçalho*/

    .cabecalho {
        width: 100%;
        display: inline-block;
        text-align: center; 
    }

    .cabecalho-menu {
        display: inline-block;
        margin-bottom: 10px;
    }

    .cabecalho-menu a {
        margin: 15px;
    }


    /*conteudo 1*/
    #parte1  {
        font-size: 12px;
    }

    #parte1 p {
        width: 250px;
    }

    #parte1 h2 {
        width: 280px;
        padding-top: 35px;
    }

    .conteudo1 {
        display: block;
        height: 390px;
    }

    .conteudo1 img {
        width: 200px;
        position: absolute;
        left: 70px;
        right: 70px;
    }

    /*conteúdo 2*/
    .conteudo2, .caixas {
        display: inline-block;
        width: 100%;
    }

    .caixas {
        margin-bottom: 20px;
        width: 300px;
        display: flex;
        margin: 0 auto;
    }

    .parte2 {
        width: 290px;
        padding-bottom: 30px;
    }


    .parte2 p {
        width: 90px;
        margin-bottom: 13px;
        padding-left: 5px;
        border-left: 1px solid #5BD3B7;
    }

    .caixa-vantagens1, .caixa-vantagens2 {
        width: 120px;
        margin-left: 13px;
        margin-bottom: 12px;
    }

     /*Instalações*/

     .instalacoes {
        margin: auto;
        margin-top: 30px;
    }

     #parte-instalacoes {
        height: 1900px;
    }

     .instalacoes-conteudo, .manutencao-geral, .limpeza {
        width: 300px;
     }

     .instalacoes-conteudo h2{
        width: 240px;
     }

     .manutencao-geral p {
        width: 240px;
        text-align: center;
        margin-top: 20px;
     }

     .manutencao-geral h2 {
        text-align: center;
        margin-top: 40px;
     }

     .limpeza p {
        width: 240px;
        margin-top: 20px;
        text-align: center;  
     }

     .limpeza h2 {
        margin-top: 10px;
        text-align: center; 
     }

   
}

@media all and (min-width: 450px) and (max-width: 530px) {

    /*Cabeçalho*/

   .cabecalho {
       width: 100%;
       display: inline-block;
       text-align: center; 
   }

   .cabecalho-menu {
       display: inline-block;
       margin-bottom: 10px;
   }

   .cabecalho-menu a {
       margin: 15px;
   }


   /*conteudo 1*/
   #parte1  {
       font-size: 12px;
   }

   #parte1 p {
       width: 350px;
   }

   #parte1 h2 {
       width: 280px;
       padding-top: 35px;
   }

   .conteudo1 {
       display: block;
       height: 390px;
   }

   .conteudo1 img {
       width: 200px;
       position: absolute;
       left: 100px;
       right: 70px;
   }

   /*conteúdo 2*/
   .conteudo2, .caixas {
       display: inline-block;
       width: 100%;
   }

   .caixas {
       margin-bottom: 20px;
       width: 300px;
       display: flex;
       margin: 0 auto;
   }

   .parte2 {
       width: 290px;
       margin-bottom: 30px;
   }


   .parte2 p {
       width: 90px;
       margin-bottom: 13px;
       padding-left: 5px;
       border-left: 1px solid #5BD3B7;
   }

   .caixa-vantagens1, .caixa-vantagens2 {
       width: 120px;
       margin-left: 13px;
       margin-bottom: 12px;
   }

       /*Instalações*/

       .instalacoes {
        margin: auto;
        margin-top: 30px;
    }

     #parte-instalacoes {
        height: 1900px;   
    }

     .instalacoes-conteudo, .manutencao-geral, .limpeza {
        width: 350px;
     }

     .instalacoes-conteudo h2{
        width: 350px;
        text-align: center;
     }

     .manutencao-geral p {
        width: 350px;
        text-align: center;
        margin-top: 20px;
     }

     .manutencao-geral h2 {
        text-align: center;
        margin-top: 40px;
     }

     .limpeza p {
        width: 350px;
        margin-top: 20px;
        text-align: center;  
     }

     .limpeza h2 {
        margin-top: 10px;
        text-align: center; 
     }
}

@media all and (min-width: 530px) and (max-width: 750px) {

    /*Cabeçalho*/

   .cabecalho {
       width: 100%;
       display: inline-block;
       text-align: center; 
   }

   .cabecalho-menu {
       display: inline-block;
       margin-bottom: 10px;
   }

   .cabecalho-menu a {
       margin: 15px;
   }


   /*conteudo 1*/
   #parte1  {
       font-size: 12px;
   }

   #parte1 p {
       width: 350px;
   }

   #parte1 h2 {
       width: 280px;
       padding-top: 35px;
   }

   .conteudo1 {
       display: block;
       height: 390px;
   }

   .conteudo1 img {
       width: 200px;
       position: absolute;
       left: 100px;
       right: 70px;
   }

   /*conteúdo 2*/
   .conteudo2, .caixas {
       display: inline-block;
       width: 100%;
   }

   .caixas {
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    margin: 0 auto;
}

.parte2 {
    width: 290px;
    margin-bottom: 30px;
}


   .parte2 p {
       width: 90px;
       margin-bottom: 13px;
       padding-left: 5px;
       border-left: 1px solid #5BD3B7;
   }

   .caixa-vantagens1, .caixa-vantagens2 {
       width: 120px;
       margin-left: 13px;
       margin-bottom: 12px;
   }

       /*Instalações*/

       .instalacoes {
        margin: auto;
        margin-top: 30px;
    }

     #parte-instalacoes {
        height: 1800px;   
    }

     .instalacoes-conteudo, .manutencao-geral, .limpeza {
        width: 350px;
     }

     .instalacoes-conteudo h2{
        width: 350px;
        text-align: center;
     }

     .manutencao-geral p {
        width: 350px;
        text-align: center;
        margin-top: 20px;
     }

     .manutencao-geral h2 {
        text-align: center;
        margin-top: 40px;
     }

     .limpeza p {
        width: 350px;
        margin-top: 20px;
        text-align: center;  
     }

     .limpeza h2 {
        margin-top: 10px;
        text-align: center; 
     }
}

@media all and (min-width: 750px) and (max-width: 890px) {

    /*Cabeçalho*/

   .cabecalho {
       width: 100%;
       display: inline-block;
       text-align: center; 
   }

   .cabecalho-menu {
       display: inline-block;
       margin-bottom: 10px;
   }

   .cabecalho-menu a {
       margin: 15px;
   }


   /*conteudo 1*/
   #parte1  {
       font-size: 12px;
   }

   #parte1 p {
       width: 480px;
   }

   #parte1 h2 {
       width: 280px;
       padding-top: 35px;
   }

   .conteudo1 {
       height: 290px;
   }


   /*conteúdo 2*/
   .conteudo2, .caixas {
       display: inline-block;
       width: 100%;
   }

   .caixas {
       margin-bottom: 20px;
       width: 300px;
       position: relative;
       left: 20%;
   }

   .parte2 {
       width: 290px;
   }


   .parte2 p {
       width: 90px;
       margin-bottom: 13px;
       padding-left: 5px;
       border-left: 1px solid #5BD3B7;
   }

   .caixa-vantagens1, .caixa-vantagens2 {
       width: 120px;
       margin-left: 13px;
       margin-bottom: 12px;
   }

   /*Instalações*/

   .instalacoes {
    margin: auto;
    margin-top: 30px;
}

 #parte-instalacoes {
    height: 1800px;   
}

 .instalacoes-conteudo, .manutencao-geral, .limpeza {
    width: 650px;
 }

 .instalacoes-conteudo h2{
    width: 590px;
 }

 .manutencao-geral p {
    width: 590px;
    margin-top: 20px;
 }

 .manutencao-geral h2 {
    margin-top: 40px;
 }

 .limpeza p {
    width: 590px;
    margin-top: 20px;  
 }

 .limpeza h2 {
    margin-top: 10px; 
 }
}
